@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-primary: #FF66C4;
  --color-secondary: #7F1D93;
  --color-accent: #FACC15;
  --color-neutral: #383838;
  --color-info: #4B5563;
  --color-success: #23B900;
  --color-warning: #FFDB00;
  --color-error: #FF351C;
}
